* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  background: #ffffff;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 108px;
}

.logo img {
  width: 149px;
  height: 25px;
}

.options span {
  padding-right: 44px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: #242a45;
}

.red-button {
  background: #fa5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  padding: 12px 34px;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.content {
  display: flex;
  justify-content: space-between;
}

.title h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: #242a45;
  margin-bottom: 24px;
}

.title p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #242a45;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 32px;
}

.onChrome {
  padding: 10px 24px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #ffffff;
  margin-right: 16px;
}

.onFirefox {
  padding: 10px 24px;
  background: #f7f7f7;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #242a45;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.tablet-img{
    position: relative;
}

.tablet{
    width: 579px;
    height: 385px;
    margin-right: auto;
}

.Rectangle{
    position: absolute;
    left: -10px;
    top: 50px;
    left: 150px;
    z-index: -10;
}