.mycontent {
  margin: 50px auto;
  max-width: 1110px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 6px;
  height: 140px;
}

.company-info {
  display: flex;
}



.company-name {

}

.company-tag {

}

.header-button button {

}

.header-button button:hover {
  opacity: 0.35;
  background: #5964e0;
  mix-blend-mode: normal;
  border-radius: 5px; 
}

/* .header-left-info{
  display: flex;
} */