.trending-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.trending-movie {
  width: 280px;
  position: relative;
}
.trending-movie img {
  max-width: 100%;
}

.movie-description {
  top: 155px;
  right: 300px;
}

.trending-title {
  margin-bottom: 25px;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #ffffff;
}
.card {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.75;
}

.circle {
  width: 3;
  height: 3;
  background-color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 50%;
}

.movie-title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

  color: #ffffff;
}

.favourite-side {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #10141e;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  position: absolute;
  top: 15px;
  right: 10px;
}
