* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-social {
  margin: 0 auto;
  font-family: "League Spartan", sans-serif;
}

.info-about-proof {
  display: flex;
  justify-content: space-between;
  margin-top: 127px;
}

.title {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.71429px;
  color: #512051;

  max-width: 445px;
  margin-left: 165px;
  margin-bottom: 6px;
}

.info {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #927b91;

  max-width: 445px;
  margin-left: 165px;
}



.ratet-1 {
  background: #f7f2f7;
  border-radius: 8px;
  margin-bottom: 36px;
  margin-right: 260px;

  display: flex;
  align-items: center;
}

.ratet-2 {
  background: #f7f2f7;
  border-radius: 8px;
  margin-bottom: 36px;
  margin-right: 212px;

  display: flex;
  align-items: center;
}

.ratet-3 {
  background: #f7f2f7;
  border-radius: 8px;

  display: flex;
  align-items: center;
}

.rated-paragraph {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #512051;

  padding-top: 21px;
  padding-right: 90px;
  padding-bottom: 20px;
}

.stars-of-proof {
  padding-right: 32px;
  padding-left: 32px;
}
