* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f8;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 250px;
}

.jobs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img {
  position: absolute;
  top: -25px;
}
