* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-family: 'Epilogue', sans-serif;
}

body {
    font-family: inherit;
    background: #FAF8F6
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 62px;
}

.header {
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 67px;
}


.stats-item {
    display: flex;
    flex-direction: column;
}

.stats-item .count {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}


.stats-item .count {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}

.text-box {
    max-width: 635px;
    flex: 1;
}

.statistics-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
}

.stats-item:not(:last-child) {

    margin-bottom: 63px;
}

.text-box h1 {
    font-weight: 400;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: #172339;
    margin-bottom: 40px;
}

.text-box h1 span {
    font-weight: 700;

}

.text-box p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #49566D;
    margin-bottom: 52px;
}

.info-person {
    background: #172339;
    border-radius: 15px;
    max-width: 1110px;
    margin: 0 auto;
    min-height: 545px;
    max-height: 545px;
    margin-top: 200px;
    padding-left: 121.5px;
    display: flex;
}

.info-person-textbox {
    padding-top: 88px;
    color: #FAF8F6;
    max-width: 350px;
    margin-left: 152px;

}



.info-person-textbox h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #FAF8F6;
    margin-bottom: 40px;

}

.info-person-textbox p {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: #F3EDE7;
    margin-bottom: 40px;

}


.info-person-textbox span {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6
}

.info-person-textbox .author {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
}

.info-person-textbox .title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #F3EDE7
}


.info-person img {
    margin-top: -50px;
}



.button-request {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    color: #172339;
    border: 1px solid #172339;
    border-radius: 6px;
    padding: 12px 24px;
    background: transparent;
    min-width: 171px;
}


















.button-1 button {

    margin-top: 50px;

    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #172339;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23.5px;
    padding-right: 24.5px;

}

.button-1 button:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    border-radius: 6px;
}




.dugme button {
    margin-top: 620px;

    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #172339;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23.5px;
    padding-right: 24.5px;
}

.dugme button:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    border-radius: 6px;
}


.topcontent {
    display: flex;
    justify-content: space-between;
}



.content h1 {
    position: absolute;
    width: 635px;
    height: 156px;
    left: 166px;
    top: 276px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: #172339;
}

.content p {

    position: absolute;
    width: 350px;
    height: 96px;
    left: 166px;
    top: 472px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #49566D;
    margin-top: 40px;
}

.iphone img {
    margin-top: 173px;
    margin-bottom: 154.44px;
    margin-left: 474px;
    margin-right: 96px;
}

.line img {
    margin-top: 222.68px;
    margin-bottom: 455px;
    margin-left: 534px;
    margin-right: 518.32px;
    border: 2px solid #172339;
}

.scripts {

    color: #172339;

}

.kod {
    margin-top: 173px;
    margin-bottom: 1px;
    margin-left: 96px;
    margin-right: 164px;

    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}

.companies {
    margin-top: 1px;
    margin-bottom: 565.44px;
    margin-left: 96px;
    margin-right: 164px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
}

.number {
    margin-top: 63px;
    margin-bottom: 1px;
    margin-left: 96px;
    margin-right: 164px;

    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}

.languages {
    margin-top: 1px;
    margin-bottom: 63px;
    margin-left: 96px;
    margin-right: 164px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
}

.milli {
    margin-top: 63px;
    margin-bottom: 1px;
    margin-left: 96px;
    margin-right: 164px;

    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}

.lead {
    margin-top: 1px;
    margin-bottom: 273.44px;
    margin-left: 96px;
    margin-right: 164px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
}

.blur {

    margin-top: 321px;
    margin-bottom: 500px;
    margin-left: 74px;
    margin-right: px;

    width: 359.81px;
    height: 589.56px;
    left: 288.49px;
    top: 927.44px;
}



.press {

    width: 1109px;
    height: 545px;
    left: 167px;
    top: 972px;

    /* Dark Blue */

    background: #172339;
    border-radius: 15px;
}

.feature h1 {
    margin-top: 88px;
    margin-bottom: 40px;
    margin-left: 634px;
    margin-right: 176px;

    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: black;
}

.feature h3 {
    margin-top: 40px;
    margin-bottom: 2px;
    margin-left: 634px;
    margin-right: 185px;

    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: black;
}

.blur p {
    margin-top: 72px;
    margin-bottom: 88px;
    margin-left: 152.7px;
    margin-right: 160px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: red;
}

.feature p {
    margin-top: 2px;
    margin-bottom: 88px;
    margin-left: 634px;
    margin-right: 160px;

    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: black;
}



.small {

    color: #49566D;
}

.log {
    margin-top: 95px;
    margin-bottom: 72px;
    margin-left: 167px;
    margin-right: 1028px;

    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;
    color: #172339;
}

.face {
    margin-top: 101px;
    margin-bottom: 78px;
    margin-left: 993px;
    margin-right: 28px;
}

.insta {
    margin-top: 101px;
    margin-bottom: 78px;
    margin-left: 28px;
    margin-right: 164px;

    margin-top: 103.25px;
    margin-bottom: 79.5px;
    margin-left: 28px;
    margin-right: 28px
}

.twitter {

    margin-top: 103.25px;
    margin-bottom: 79.5px;
    margin-left: 28px;
    margin-right: 28px
}

.copy {

    margin-top: 103.25px;
    margin-bottom: 79.5px;
    margin-left: 28px;
    margin-right: 28px;


    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.0833333px;
    color: #49566D;
}