* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FEFCF7;
    font-family: 'Barlow', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 43px;
}

.options {
    display: flex;
}

.ham-button {
    display: none;
    background-color: transparent;
    border: none;
}




.elements:nth-child(2) {
    margin: 0px 33px;
}

.elements {
    color: #83888F;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
    cursor: pointer;
}

.elements:hover {
    color: #333D4B;
}

.create-plan-info {
    position: relative;
    background-image: url("./assets/home/desktop/image-hero-coffeepress.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 117px 85px;
    background-position: 50% 50%;
}



/* .create-plan-info__description {
    padding-left: 86px;
    padding-top: 160px;
} */


.create-plan-info-description__title {
    color: #FEFCF7;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    /* 100% */
    /* width: 493px; */
    margin-bottom: 32px;
    max-width: 493px;
}

.create-plan-info-descriptiono__paragraph {
    color: rgb(254, 252, 247, 0.8);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    max-width: 445px;
    margin-bottom: 56px;
}

.create-plan-info-description__button {
    border: none;
    padding: 15px 31px 16px 31px;
    cursor: pointer;

    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces 9pt;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    /* 138.889% */

    border-radius: 6px;
    background: #0E8784;
}

.create-plan-info-description__button:hover {
    border-radius: 6px;
    background: #66D2CF;
}


@media only screen and (max-width: 600px) {

    .options {
        display: none;
    }

    .ham-button {
        display: block;
    }

    .create-plan-info {

        background-image: url("./assets/home/tablet/image-hero-coffeepress.jpg");

    }

}